pipeline/DL_ingestion.json
{
	"name": "DL_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Datalakeds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataFolder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If ConditionFileMatch",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(item().name, 'nocs.csv'),equals(item().type,'File'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable files",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_files_array",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy dataFiles",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "para_DS",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "source",
													"p_folder": "raw_data",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "para_DS",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "bronze",
													"p_folder": "nocs",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable Names",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_filenames",
					"value": {
						"value": "@string(variables('v_files_array'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variableNumbers",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_files_number",
					"value": {
						"value": "@length(variables('v_files_array'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_files_array": {
				"type": "Array"
			},
			"v_files_number": {
				"type": "Integer"
			},
			"v_filenames": {
				"type": "String"
			}
		},
		"annotations": []
	}
}